.color {
    background: linear-gradient(90deg, rgba(255, 194, 58, 1) 0%, rgba(81, 210, 255, 1) 33%, rgba(103, 67, 255, 1) 66%, rgba(255, 96, 181, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 1);
}

#loginButton {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#loginButton:hover {
    background: linear-gradient(to right, #51D2FF, #6743FF);
}


.bg-body {
    background-color: #0D0D0D;
}

.login {
    background: linear-gradient(90deg, rgba(255, 194, 58, 1) 0%, rgba(81, 210, 255, 1) 33%, rgba(103, 67, 255, 1) 66%, rgba(255, 96, 181, 1) 100%);
    background-size: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* background-logout */
.button-logout {
    background-image: linear-gradient(to right, #FFC23A, #FF60B5);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

@media (max-width:640px) {
    .login {
        background-size: 20%;
    }
}

.bg-lisa {
    background: linear-gradient(63deg, rgba(255, 194, 58, 1) 0%, rgba(81, 210, 255, 1) 33%, rgba(103, 67, 255, 1) 66%, rgba(255, 96, 181, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-lisa-text {
    background: linear-gradient(90deg, rgba(255, 194, 58, 1) 0%, rgba(81, 210, 255, 1) 33%, rgba(103, 67, 255, 1) 66%, rgba(255, 96, 181, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-navbar {
    background-color: #272727d5;
}

.bg-user {
    background: linear-gradient(135deg, rgba(255, 194, 58, 1) 0%, rgba(81, 210, 255, 1) 33%, rgba(103, 67, 255, 1) 66%, rgba(255, 96, 181, 1) 100%);
}


